/* HEADER */

header {
    background-color: rgb(20, 18, 18);
}

.header-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding:0.2rem;
    border-bottom: 1px solid white;
    background-color: transparent;
}

.header-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
}

.header-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: 'Padauk', sans-serif;
}

.header-links .li-selected a {
    color: orange;
}

.header-links li {
    font-size: 1.2rem;
}

.header-links li a {
    display: inline-block;
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 1.5rem;
}

.header-links a:hover {
    color: orange;
}
